.Normal {
  background-color: #9fa19f;
}

.Fire {
  background-color: #e62829;
}

.Water {
  background-color: #2980ef;
}

.Electric {
  background-color: #fac000;
}

.Grass {
  background-color: #3fa129;
}

.Ice {
  background-color: #3dcef3;
}

.Fighting {
  background-color: #ff8000;
}

.Poison {
  background-color: #9141cb;
}

.Ground {
  background-color: #915121;
}

.Flying {
  background-color: #81b9ef;
}

.Psychic {
  background-color: #ef4179;
}

.Bug {
  background-color: #91a119;
}

.Rock {
  background-color: #afa981;
}

.Ghost {
  background-color: #704170;
}

.Dragon {
  background-color: #5060e1;
}

.Dark {
  background-color: #624d4e;
}

.Steel {
  background-color: #60a1b8;
}

.Fairy {
  background-color: #ef70ef;
}
